<section class="">
  <div class="">
    <div class="">
      <article class="">
        <p>
          Posted by
          {{user.username}}
          on
          {{format_date created_on}}
        </p>
      </article>

      <article class="">
        <p>
          {{detail}}
        </p>
      </article>
    </div>
  </div>
  {{! renders list of comments if they exist }}
  {{#if comments.length}}
    <h3 class="subtitle">{{comments.length}} Comments:</h3>
    
      {{#each comments as |comment|}}
      <article class="card comment mt-2">
          <div class="card-content">
            <div class="media">
            <div class="media-content">
          <p class="card-detail subtitle" id="comment"><strong>
            {{comment.user.username}}</strong>
            says:
          </p>
          <p class="card-detail">{{detail}}</p>
          </div>
          </div>
        </div>
        </article>
      {{/each}}
    
  {{/if}}
</section>

