<section class="">
  <div class="">
    <div class="">
      <article class="">
        <h2 class="">
          [<span id="numbered-post">{{id}}</span>]{{name}}
        </h2>
        <p>
          Posted by
          {{user.username}}
          on
          {{format_date created_on}}
        </p>
      </article>

      <article class="">
        <p>
          {{detail}}
        </p>
      </article>
    </div>
  </div>

  {{! renders list of comments if they exist }}

  {{#if comments.length}}
    <article class="card">
      <h3>{{comments.length}} Comments:</h3>
      {{#each comments as |comment|}}

        <div class="card">
          <p class="card-detail" id="comment">
            {{comment.user.username}}
            says:
          </p>
          <p class="card-detail">{{detail}}</p>
        </div>
      {{/each}}
    </article>
  {{/if}}

  <span id="current-user">{{user_id}}</span>
</section>

<script src="/js/comment.js"></script>