<section>
  <h1 class="title">There are now things here</h1>
</section>
<div class="">
  <h3 class="title">There are {{recipes.length}} recipes in your feed!:</h3>
  {{#each recipes as |recipe|}}
    <section class="">
      <div class="">

        <article class="">
          <a href="/recipe/{{id}}">
            <h3 class="">[<span>{{id}}</span>] {{name}}</h3>
          </a>
          <p class="blog-author">Posted by
            {{user.username}}
            on
            {{format_date created_on}}</p>
        </article>
        <article class="">
          <p>
            {{recipe.detail}}
          </p>
          <p>
            <img
              src="../../images/{{recipe.filename}}"
              alt="{{recipe.alt_text}}"
            />
          </p>
        </article>
      </div>
    </section>
  {{/each}}
</div>