<h1 class="title has-text-centered">Hey
  {{username}}!</h1>
<!--This code block will work when recipe data is defined? -->
<h3 class="title has-text-centered"><u>Your recipies here</u></h3>
{{#if recipes.length}}
{{#each recipes as |recipe|}}
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <img src="../../images/{{recipe.filename}}" alt="{{recipe.alt_text}}">
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-36x36">
          <img src="../images/pietest.png" alt="basic pie image">
        </figure>
      </div>
      <div class="media-content">
        <a href="/recipe/{{id}}">
          <h4 class="rec-name title">{{name}}</h4>
        </a>
      </div>
    </div>
  </div>
  <div class="content">
    <p class="subtitle is-6">{{recipe.detail}}</p>
  </div>
  <p>Posted on {{format_date created_on}}</p>
</div>
</div>
<br>
{{/each}}
{{else}}
<p class="norec">No recipes saved! Check out the site to find what you love!</p>
<a href="/"><button class="homebtn" type="button">Home</button></a>
{{/if}}

<a href="/new-recipe" class="button is-fullwidth">Add New Recipe</a>