<h1>This is a test for
  {{name}}
  and the information should be here
  {{detail}}</h1>
<!--This code block will work when recipe data is defined? -->
{{#if recipes.length}}
  <section class="Usrres card">
    <h3>Your recipies here:</h3>
    {{#each recipes as |recipe|}}
      <a href="/recipe/{{id}}">
        <h4 class="rec-name">{{name}}</h4>
      </a>
      <p>{{detail}}</p>
    {{/each}}
  </section>
{{else}}
  <p class="norec">No recipes saved! Check out the site to find what you love!</p>
  <a href="/"><button class="homebtn" type="button">Home</button></a>
{{/if}}
<!--Test page for user profile-->

<a href="/new-recipe" class="add-new-recipe">Add New Recipe</a>