<p class="title is-underlined">Details about your wonderful creation!</p>
<div class="">
    <h1 class="subtitle">Edit Post:</h1>
    <div class="new-post-form field">
        <label class="label" for="recipe-title">Post Title:</label>
        <div class="control">
        <input
          class="form-input input"
          type="text"
          id="update-name"
          name="update-name"
        ></input>
        </div>
      </div>
      <div class="field">
        <label class="label" for="recipe-detail">Type details below:</label>
        <div class="control">
        <textarea
          class="update-detail textarea is-small"
          row="5"
          id="update-detail"
          name="update-detail"
        >{{detail}}</textarea>
        </div>
      </div>
      <div class="update-delete field is-grouped">
        <div class="control">
        <button class="button" id="updateBtn" data-id="{{id}}">UPDATE</button>
        </div>
        <div class="control">
        <button class="button" id="deleteBtn" data-id="{{id}}">DELETE</button>
        </div>
      </div>
    </form>

  

  {{#if comments.length}}
    <article class="card">
      <h3>{{comments.length}} Comments:</h3>

      {{#each comments as |comment|}}

        <div class="card">
          <p class="card-detail" id="commenter">
            {{comment.user.username}}
            says:
          </p>
          <p class="card-detail">{{detail}}</p>
        </div>
      {{/each}}
    </article>
  {{/if}}

</div>
[<span id="numbered-post">{{id}}</span>]{{name}}
<span id="current-user">{{user_id}}</span>


<script src="/js/recipe.js"></script>