<!--Aub note, going to add view of post here -->
<section class="login-signup">

  <div class="has-text-centered">
    <h2 class="title is-underlined has-text-center">Edit Recipe</h2>
  </div>

  <form class="new-post-form field">
    <label class="label subtitle fancy" for="recipe-title">Recipe Name:</label>
    <div class="control">
      <textarea
        class="form-input input"
        type="text"
        id="update-name"
        name="update-name"
      >{{name}}</textarea>
    </div>
  </form>
  <form class="field">
    <label class="label subtitle fancy" for="recipe-detail">Type details below:</label>
    <div class="control">
      <textarea
        class="update-detail textarea is-small"
        row="5"
        id="update-detail"
        name="update-detail"
      >{{detail}}</textarea>
    </div>
  </form>

  <form class="update-delete field is-grouped columns">
    <div class="control column">
      <button
        class="button is-rounded is-fullwidth fancy"
        id="updateBtn"
        data-id="{{id}}"
      >UPDATE</button>
    </div>
    <div class="control column">
      <button
        class="button is-rounded is-fullwidth is-danger fancy"
        id="deleteBtn"
        data-id="{{id}}"
      >DELETE</button>
    </div>
  </form>

  {{#if comments.length}}
    <h3 class="title">{{comments.length}} Comments:</h3>

    {{#each comments as |comment|}}
      <article class="card comment mt-2">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="card-detail subtitle fancy" id="comment"><strong>
                  {{comment.user.username}}</strong>
                says:
              </p>
              <p class="card-detail fancy">{{detail}}</p>
            </div>
          </div>
        </div>
      </article>
    {{/each}}

  {{/if}}

</section>
<script src="/js/recipe.js"></script>
{{! <script src="/js/comment.js"></script> }}